h1{
    color: red;
}
h2{
    color: rgb(99, 223, 99); 
}
ul{
    color: brown;
    letter-spacing: 5px;
    word-spacing: 3px;
}
#p1{
    color: brown;
    font-size: larger;
}

#p2{
    color: brown;
    font-size: xx-small;
}
#p

{
    color: brown;
    
}
a{
    text-decoration: none;
}